{% extends 'base.html' %}

{% block title %}Trabajadores{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'seleccionar_accion' %}" class="btn btn-secondary">
            <i class="fas fa-home"></i>
        </a>
    </div>
    <h1 class="mb-4">Registrar Trabajador</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ trabajador_form.nombre.label_tag }}
                {{ trabajador_form.nombre }}
            </div>
            <div class="form-group col-md-6">
                {{ trabajador_form.rut.label_tag }}
                {{ trabajador_form.rut }}
            </div>
            <div class="form-group col-md-6">
                {{ trabajador_form.cargo.label_tag }}
                {{ trabajador_form.cargo }}
            </div>
        </div>
    </form>
    <h2 class="mb-4">Agregar Documentos</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ documento_form.archivos.label_tag }}
            {{ documento_form.archivos }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ documento_form.fecha_emision.label_tag }}
                {{ documento_form.fecha_emision }}
            </div>
            <div class="form-group col-md-6">
                {{ documento_form.fecha_termino.label_tag }}
                {{ documento_form.fecha_termino }}
            </div>
        </div>
        <button type="submit" name="agregar" class="btn btn-primary">Agregar</button>
    </form>
    <h2 class="mt-4">Documentos Agregados</h2>
    <ul class="list-group">
        {% for index, documento in lista_documentos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Archivo:</strong> {{ documento.archivo }} <br>
                    <strong>Fecha de Emisión:</strong> {{ documento.fecha_emision }} <br>
                    <strong>Fecha de Término:</strong> {{ documento.fecha_termino }}
                </div>
                <a href="{% url 'eliminar_documento' index %}" class="btn btn-danger btn-sm">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" name="subir" class="btn btn-primary">Subir</button>
    </form>
</div>
{% endblock %}



