{% extends 'base.html' %}

{% block title %}Resultados de Búsqueda{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'seleccionar_accion' %}" class="btn btn-secondary">
            <i class="fas fa-home"></i>
        </a>
    </div>
    <h1 class="mb-4">Resultados de Búsqueda</h1>
    <div class="card">
        <div class="card-header">
            Información del Trabajador
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ trabajador.nombre }}</h5>
            <p class="card-text"><strong>RUT:</strong> {{ trabajador.rut }}</p>
            <p class="card-text"><strong>Cargo:</strong> {{ trabajador.cargo }}</p>
        </div>
    </div>
    <h2 class="mt-4">Proyectos Asociados</h2>
    <ul class="list-group">
        {% for proyecto in proyectos %}
            <li class="list-group-item">
                <strong>Proyecto:</strong> {{ proyecto.nombre_proyecto }} <br>
                <strong>Faena:</strong> {{ proyecto.nombre_faena }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
