<h1>Visualizar Información</h1>
<h2>Trabajadores</h2>
<ul>
    {% for trabajador in trabajadores %}
        <li>{{ trabajador.nombre }} - {{ trabajador.rut }} - {{ trabajador.cargo.nombre }}</li>
    {% endfor %}
</ul>

<h2>Cargos</h2>
<ul>
    {% for cargo in cargos %}
        <li>{{ cargo.nombre }}</li>
    {% endfor %}
</ul>

<h2>Proyectos</h2>
<ul>
    {% for proyecto in proyectos %}
        <li>{{ proyecto.nombre }} - {{ proyecto.faena }} - {{ proyecto.trabajador.nombre }}</li>
    {% endfor %}
</ul>

<a href="{% url 'seleccionar_accion' %}">Volver a Home</a>
